.day {
    display: flex;
    align-items: center;
    justify-content: center;
    width:60px;
    height:60px;
    display:flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    
    cursor: pointer;
    font-variant-numeric: tabular-nums;
    color:#212121;
}

.day.selected {
    color: white;
}

.day.selected::before {
    content: '';
    position: absolute;
    background: #E91E63;
    width: 70%;
    height: 70%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    z-index: -1;
    border-radius: 50%;
    left:14%;
    top:15%;
    transform: scale(0);
    animation: select 0.5s  ease-out forwards;
}

@keyframes select {
    0% {
       transform:scale(0)
    }
    
    100%{
        transform:scale(1.0)
    }
}
