.month-selection {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 5fr 1fr 100px 1fr 5fr;
}

.month-selection-months {
    grid-column: 3/4;
    position: relative;
    overflow: hidden;
}

.month-selection-month-name {
    text-align: center;
}

.month-selection-month-name.previous, .month-selection-month-name.next {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.month-selection-month-name.previous{
    transform: translate(-100%)
}
.month-selection-month-name.next{
    transform: translate(100%)
}

.month-selection-button {
    padding: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
}

.month-selection-button.left {
    background-image: url('../images/left.svg');
    grid-column: 2/3;
}

.month-selection-button.right {
    background-image: url('../images/right.svg');
    grid-column: 4/5;
}