.todo-item {
    display: grid;
    grid-template-rows:auto;
    grid-template-columns: 60% 1fr 1fr;
    grid-column-gap: 10%;
    height:100%;
    align-content: center;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    padding:0 10px;
    grid-column: 2/3;

    
}
.todo-item-text{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    align-self: baseline;
    font-family:'Roboto';
    border:none;
    padding:5px;
    font-size:1em;

}
input{
    font-family:'Roboto'
}
