.todo-component{
    grid-column: 3/4;
    grid-row:2/3;
    align-self: center;
    justify-self:left;
    height:100%;
    display:grid;
    grid-template-rows: 1fr 6fr;
    box-sizing: border-box;
    box-shadow:0px 0px 5px rgba(0,0,0,0.2);
    border-radius:5px;
    border: 2px solid #C2185B;
}
.todo-body{
    display:grid;
    grid-auto-rows: 50px;
    grid-template-columns: 1fr 20fr 1fr;
}